@media only screen and (min-width: 1000px) {
  .container {
    max-width: unset;
  }
  body {
    font-family: 'Lexend Deca', sans-serif;
    background: #FAFAFA;
  }

  .topnav {
    display: none;
  }

  #footer {
    width: 100%;
    height: 319px;
    left: 0px;
    top: 1661px;
    position: absolute
  }

  #layoutDetailMail {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    display: inline-flex
  }

  #inputMail {
    width: 100%;
    height: 52px;
    background: white;
    border-radius: 8px;
  }

  #name {
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #phone {
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #email {
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #company {
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #message {
    width: 612px;
  }

  #bluePost {
    height: 900px;
  }

  #formPost {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  #submitEmail {
    width: 614px;
    height: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #1C4A78;
    color: #FAFDFF;
    border-radius: 8px;
    border: transparent;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    font-size: 16px;
    font-family: Lexend Deca;
    font-weight: 600;
  }

  #imgFooterDiv {
    left: 80px;
    top: 63px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 42px;
    display: inline-flex
  }

  #imgFooter {
    width: 232px;
    height: 82px
  }

  #sosmed {
    width: 530px;
    top: 63px;
    right: 0;
    margin-right: 30px;
    position: absolute;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    display: inline-flex
  }

  #address {
    width: 450px;
    left: 80px;
    top: 184px;
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    word-wrap: break-word
  }

  #followUs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
  }

  #contactUs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
  }

  #blackBackgroundFooter {
    width: 100%;
    height: 319px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #120B06
  }

  #textFollowUs {
    color: white;
    font-size: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    word-wrap: break-word
  }

  #followUsImageDiv {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    display: inline-flex
  }

  #contactUsText {
    color: white;
    font-size: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    word-wrap: break-word
  }

  #textPhone {
    width: 130px;
    height: 22px;
    color: white;
    font-size: 16px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    word-wrap: break-word
  }

  #articleList {
    width: 100%;
    align-self: stretch;
    height: 466px;
    gap: 2%;
    left: 0px;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex
  }

  #articleCard {
    width: 400px;
    height: 466px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    border-radius: 10px;
  }

  #articleBody {
    width: 400px;
    height: 207px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex
  }

  #articleDate {
    color: #90A2B2;
    font-size: 14px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
  }

  #articleTitle {
    width: 347px;
    color: #1D242A;
    font-size: 20px;
    font-family: Lexend Deca;
    font-weight: 500;
    text-align: left;
    word-wrap: break-word
  }

  #articleDesc {
    width: 347px;
    color: #5C7184;
    font-size: 14px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word
  }
}

/* mobile */
@media only screen and (max-width: 425px) {
  #navbar-web {
    display: none;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  #carouselExampleControls {
    left: 0px;
    right: 0px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav button {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  #articleCard {
    width: 100%;
    height: 466px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    border-radius: 10px;
  }

  #articleBody {
    width: 100%;
    height: 207px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: flex
  }

  #articleDate {
    color: #90A2B2;
    font-size: 12px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
  }

  #articleTitle {
    width: 100%;
    color: #1D242A;
    font-size: 20px;
    font-family: Lexend Deca;
    font-weight: 500;
    word-wrap: break-word
  }

  #articleDesc {
    width: 100%;
    color: #5C7184;
    font-size: 14px;
    font-family: DM Sans;
    font-weight: 400;
    word-wrap: break-word
  }
}